.main-section-container {
  position: fixed;
  width: 40vw;
  min-width: 400px;
  height: 100%;
  display: inline-block;

  .main-section-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .title {
      color: white;
      font-size: 50px;
      font-weight: bold;
    }

    .custom-br {
      display: block;
      width: 25%;
      height: 2px;
      opacity: 0.3;
      background-color: #fff;
    }

    .header {
      font-size: 40px;
    
      .navigation {
        height: 100%;
        margin-right: 20px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
        
        .link {
          text-decoration: none;
          color: #ffffff88;
          margin: 20px 0;
          
          &:before {
            position: absolute;
            opacity: 0;
            content: attr(alt);
            overflow: hidden;
            color: #FFF;
            transition: transform 500ms ease, opacity 500ms ease;
          } 
          
          &:hover:before {
            transform: translate(-2px, -2px);
            opacity: 1;
          }
        }
        .current-page {
          &:before {
            transform: translate(-2px, -2px);
            opacity: 1;
          }
        }
      }
    }
  }
}

.projects-container {
  display: inline-block;
  margin-left: 40vw;
  
  .projects {
    position: absolute;
    top: 0;
    height: 100%;

    display: flex;
    flex-direction: row;

    .item {
      position: relative;
      width: 40vw;
      min-width: 400px;
      height: 100vh;
      list-style: none;
      cursor: pointer;
      
      
      .images {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .project-info {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        background-color: rgba(24, 26, 27, 0);
        transition: background-color 500ms ease;
        
        .project-title {
          opacity: 0;
          color: white;
          font-size: 30px;
          font-weight: 100;

          transform: translateY(-20px);
          transition: opacity 400ms 100ms ease, transform 400ms 100ms ease;
        }
        
        .view-button {
          opacity: 0;
          color: white;
          background-color: black;
          padding: 15px 20px;
          border-radius: 5px;

          transform: translateY(20px);
          transition: opacity 400ms 100ms ease, transform 400ms 100ms ease;
        }
      }
      
      &:hover .project-info {
        background-color: #181a1b9a;

        .project-title {
          opacity: 1;
          transform: translateY(0);
        }
        .view-button {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .back-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      
      opacity: 0.5;
      color: white;
      background-color: #000000;
      transition: opacity 500ms ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

  
@media only screen and (max-width: 1000px) {
  .projects-container {
    margin-left: 400px;
  }
}