.main-section-container {
  position: fixed;
  width: 40vw;
  min-width: 400px;
  height: 100%;
  display: inline-block;

  .main-section-wrapper {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .title {
      color: white;
      font-size: 50px;
      font-weight: bold;
    }

    .custom-br {
      display: block;
      width: 25%;
      height: 2px;
      opacity: 0.3;
      background-color: #fff;
    }

    .header {
      font-size: 40px;
    
      .navigation {
        height: 100%;
        margin-right: 20px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
        
        .link {
          text-decoration: none;
          color: #ffffff88;
          margin: 20px 0;
          
          &:before {
            position: absolute;
            opacity: 0;
            content: attr(alt);
            overflow: hidden;
            color: #FFF;
            transition: transform 500ms ease, opacity 500ms ease;
          } 
          
          &:hover:before {
            transform: translate(-1px, -1px);
            opacity: 1;
          }
        }
        .current-page {
          &:before {
            transform: translate(-1px, -1px);
            opacity: 1;
          }
        }
      }
    }
    .arrow {
      color: white;
      font-size: 40px;
      animation: arrow 2s ease infinite;
    }
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(50%);
  }
  25% {
    transform: translateX(25%);
  }
  37.5% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.projects-container {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 40vw;
  pointer-events: none;
  
  .projects {
    height: 100%;

    display: flex;
    flex-direction: row;

    .item {
      position: relative;
      width: 40vw;
      min-width: 400px;
      height: 100vh;
      list-style: none;
      pointer-events: all;
      cursor: pointer;
      
      .image-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        
        .images {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: transform 1s cubic-bezier(.62,.09,.19,1.06);
        }
      }

      .project-info {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        background-color: rgba(24, 26, 27, 0);
        transition: background-color 500ms ease;
        
        .project-title {
          opacity: 0;
          color: white;
          padding: 5px;
          font-size: 30px;
          font-weight: 100;
          font-weight: bold;

          transform: translateY(-20px);
          transition: opacity 400ms 100ms ease, transform 400ms 100ms ease;
        }
        
        .view-button {
          opacity: 0;
          color: black;
          background-color: white;
          padding: 15px 20px;
          border-radius: 5px;

          transform: translateY(20px);
          transition: opacity 400ms 100ms ease, transform 400ms 100ms ease;
        }
      }
      
      &:hover .project-info {
        background-color: #181a1b9a;

        .project-title {
          opacity: 1;
          transform: translateY(0);
        }
        .view-button {
          opacity: 1;
          transform: translateY(0);
        }
      }
      &:hover .image-container {
        .images {
          transform: scale(1.2);
        }
      }
    }

    .back-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      
      opacity: 0.5;
      color: white;
      background-color: #000000;
      transition: opacity 500ms ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

  
@media only screen and (max-width: 1000px) {
  .projects-container {
    padding-left: 400px;
  }
}


@media (hover: none) {
  .projects-container {
    .projects {
      .item {
        .project-info {
          background-color: #181a1b9a;

          .project-title {
            opacity: 1;
            transform: translateY(0);
          }
          .view-button {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}